parameters:
    logFile: %baseDir%/logs/log.txt

services:
    application: App\App
    - App\Entity\PersonFactory
    - App\DesignPattern\Creational\Factory\SimpleFactory\AnimalFactory
    - App\DesignPattern\Creational\Builder\EmployedMaleBuilder
    - App\DesignPattern\Creational\Builder\UnemployedFemaleBuilder
    - App\DesignPattern\Creational\Builder\PersonDirector
